version: '3.7'

services:
  web:
    image: php:7.4-cli
    environment:
      TG_TOKEN: ${TG_TOKEN}
      TG_CHAT_ID: ${TG_CHAT_ID}
    volumes:
      - ./app:/project
    ports:
      - ${APACHE_PORT}:8000
    working_dir: /project
    command: ['bash', '-c', 'docker-php-ext-install mysqli && php -S 0.0.0.0:8000 && tail -f /dev/null']

  db:
    image: mysql
    restart: 'no'
    volumes:
      - ./db:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/00-test-db.sql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=shortener_db
    ports:
      - ${MYSQL_PORT}:3306
    command: --default-authentication-plugin=mysql_native_password

  redis:
    image: redis:7-alpine
