version: '3.7'

services:
  web:
    image: php:7.4-cli
    volumes:
      - ./app:/project
    ports:
      - '8001:8000'
    command: 'tail -f /dev/null'

  db:
    image: mysql
    restart: 'no'
    volumes:
      - ./db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=shortener_db
    ports:
      - '3306:3306'
    command: --default-authentication-plugin=mysql_native_password