@import "../font/jua_regular.css";

html {
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Jua Regular', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    color: #201C2B;
}

a {
    text-decoration: none;
    text-shadow: -2px 2px 2px rgba(32, 28, 43, 0.60);
}

header {
    background-color: #201C2B;
    display: flex;
    justify-content: space-between;
    width: 1366px;
    height: 140px;
    color: #fff;
    align-items: center;
}

header .header-logo {
    height: 130px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
}

header .header-nav {
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 60px;
    height: 80px;
    width: 400px;
    display: flex;
    align-items: center;
}

header .header-nav .header-item {
    padding: 10px 15px;
    margin-right: 10px;
    font-size: 40px;
}

header .header-nav .header-item:hover {
    background-color: #2F8FE3;
    border-radius: 5px;
    cursor: pointer;
}

header .header-nav .header-item a {
    color: #fff;
}


main {
    flex: 1 1 auto;
}


footer {
    display: flex;
    height: 80px;
    width: 1366px;
    align-items: center;
    background-color: #2F8FE3;
}

footer .label {
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin: auto 106px auto auto;
    width: 380px;
    height: 50px;
}

footer .label span {
    margin: auto;
}

footer .label a {
    user-select: none;
    border: 3px solid #201C2B;
    border-radius: 5px;
    margin: auto;
    color: #201C2B;
    text-shadow: -1px 1px 1px rgba(32, 28, 43, 0.60);
    /*padding-bottom: 5px;*/
}

footer .label a:hover {
    color: #fff;
    border: 3px solid #fff;
}

footer .label a:active {
    color: #d2d0d0;
    border: 3px solid #d2d0d0;
}
