/**
 * Body CSS
 */

html,
body {
    height: 100%;
}

html,
body,
input,
textarea,
button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

header ul.mui-list--inline {
    margin-bottom: 0;
}

header a {
    color: white;
}

header table {
    width: 100%;
}

/**
 * Content CSS
 */

#content-wrapper {
    min-height: 100%;

    /* sticky footer */
    box-sizing: border-box;
    margin-bottom: -100px;
    padding-bottom: 100px;
}


/**
 * Footer CSS
 */

footer {
    box-sizing: border-box;
    height: 100px;
    background-color: #eee;
    border-top: 1px solid #e0e0e0;
    padding-top: 35px;
}

/**
 * Modal Window
 */

.modal {
    max-width: 600px;
    max-height: 400px;
    margin: 100px auto;
    overflow-y: auto;
    background: #fff;
}

.modal h1 {
    text-align: center;
}

.modal .modal-content {
    padding-top: 1rem;
    padding-bottom: 3rem;
    text-align: center;
}

/*.modal .modal-content a.text:active, !* активная/посещенная ссылка *!*/
/*.modal .modal-content a.text:hover,  !* при наведении *!*/
/*.modal .modal-content a.text,*/
.modal .modal-content a {
    text-decoration: none;
    color: #000000;
    font-size: 24px;
}