version: '3.7'

services:
  web:
    build: ./web
    restart: always
    volumes:
      - ./app:/project
      - ./web/site.conf:/etc/apache2/sites-available/000-default.conf
    ports:
      - ${APACHE_PORT}:80
    working_dir: /project
    environment:
      TG_TOKEN: ${TG_TOKEN}
      TG_CHAT_ID: ${TG_CHAT_ID}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_DATABASE: ${REDIS_DATABASE}
      DB_HOST: ${DB_HOST}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      AMQP_HOST: ${AMQP_HOST}
      AMQP_PORT: ${AMQP_PORT}
      AMQP_USER: ${AMQP_USER}
      AMQP_PASSWORD: ${AMQP_PASSWORD}

  composer:
    image: composer:latest
    volumes:
      - ./app:/project
    working_dir: /project
    command: composer install --ignore-platform-reqs --no-scripts

  db:
    image: mysql
    restart: 'no'
    volumes:
      - ./db:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/00-test-db.sql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=shortener_db
    ports:
      - ${MYSQL_PORT}:3306
    command: --default-authentication-plugin=mysql_native_password

  redis:
    image: redis:7-alpine

  rabbit:
    image: rabbitmq:management-alpine
    ports:
      - ${RABBITMQ_UI_PORT}:15672
    volumes:
      - ./rabbitmq:/var/lib/rabbitmq

  consumer:
    build: ./consumer
    restart: always
    volumes:
      - ./app:/project
    working_dir: /project
    environment:
      TG_TOKEN: ${TG_TOKEN}
      TG_CHAT_ID: ${TG_CHAT_ID}
      AMQP_HOST: ${AMQP_HOST}
      AMQP_PORT: ${AMQP_PORT}
      AMQP_USER: ${AMQP_USER}
      AMQP_PASSWORD: ${AMQP_PASSWORD}

  cron:
    build: ./cron
    volumes:
      - ./app:/project
    working_dir: /project
    environment:
      DB_HOST: ${DB_HOST}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}