version: '3.7'

services:
  web:
    build: ./web
    environment:
      TG_TOKEN: ${TG_TOKEN}
      TG_CHAT_ID: ${TG_CHAT_ID}
    volumes:
      - ./app:/var/www/html
      - ./web/site.conf:/etc/apache2/sites-available/000-default.conf
    ports:
      - ${APACHE_PORT}:80
    working_dir: /var/www/html

  consumer:
    image: php:7.4-cli
    volumes:
      - ./app:/var/www/html
    working_dir: /var/www/html
    command: tail -f /dev/null

  composer:
    image: composer:latest
    volumes:
      - ./app:/project
    working_dir: /project
    command: composer install --ignore-platform-reqs --no-scripts && php /var/www/html/consumer.php && tail -f /dev/null

  db:
    image: mysql
    restart: 'no'
    volumes:
      - ./db:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/00-test-db.sql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=shortener_db
    ports:
      - ${MYSQL_PORT}:3306
    command: --default-authentication-plugin=mysql_native_password

  redis:
    image: redis:7-alpine

  rabbit:
    image: rabbitmq:management-alpine
    ports:
      - ${RABBITMQ_UI_PORT}:15672
    volumes:
      - rabbitmq_store:/var/lib/rabbitmq

volumes:
  rabbitmq_store: