version: '3.7'

services:
  web:
    image: node:20-alpine
    ports:
      - ${WEB_PORT}:3000
    volumes:
      - ./app:/project
#    command: [sh, -c, "npm install && npm start"]
    command: [sh, -c, "tail -f /dev/null"]
    working_dir: /project